#scenery{
  height: 50vh;
  /* background-color: rgb(218, 168, 168); */
}
#description{
  height: 25vh;
  background-color: rgb(0, 0, 0);
  /* border: solid black 5px; */
}
#answer{
  height: 25vh;
  background-color: rgb(165, 165, 147);
}
.scenery-item{
  background-repeat: no-repeat;
  background-position: center; 
  /* background-size: cover; */
}
.scenery-item:hover{
  border: solid black 5px;
}

.description{
  background-image: url("../images/description.png");
  background-repeat: no-repeat;
  background-position: center;
}

.eloise{
  background-image: url("../images/eloise.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pascal{
  background-image: url("../images/pascal.png");
  background-repeat: no-repeat;
  background-position: center;
}

.clue{
  background-color: grey;
  background-image: url("../images/clue.png");
}

/* .scenery-item{
  width: 50px;
} */

/* .un{
  height: 50vh;
  padding: 10px;
} */

.cell0{
  background-color: red;
}
.cell1{
  background-color: orangered;
}
.cell2{
  background-color: orange;
}
.cell3{
  background-color: yellow;
}
/* Utiliser un margin en 25vw et  une taille qui complete à 50 % */